<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sample VueJS App</title>
    <style>
      .strikeout {
          text-decoration: line-through;
      }
    </style>
  </head>
  <body>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

      <div id="shopping-list">
          <div class="header">
              <h1>{{ header.toUpperCase() }}</h1>
              <button v-if="state === 'default'" @click="changeState('edit')">Add Item</button>
              <button v-else @click="changeState('default')">Cancel</button>
          </div>
          <div v-if="state === 'edit'">
              <input v-model="newItem" type="text" placeholder="Place a new item" @keyup.enter="saveItem"/>
              <p>{{ characterCount }}</p>
              <button @click="saveItem" :disabled="newItem.length === 0">Save Item</button>
          </div>
          <ul>
              <li v-for="item in reversedItems" :class="{ strikeout: item.purchased }" @click="togglePurchased(item)">{{ item.name }}</li>
          </ul>
          <p v-if="items.length === 0">Nice job! You've bought all your items.</p>
      </div>

      <script>
          const { createApp } = Vue; // static import

          class Item {
              constructor(name, purchased = false) {
                  this.name = name;
                  this.purchased = purchased;
              }
          }

          createApp({
              data() {
                  //view model
                  return {
                      state: 'default',
                      header: "shopping list app",
                      newItem: '',
                      items: [
                          new Item('10 party hats'),
                          new Item('2 board games'),
                          new Item('20 cups')
                      ]
                  }
              },
              computed: {
                  reversedItems() {
                      return this.items.slice(0).reverse();
                  },
                  characterCount() {
                      return this.newItem.length;
                  }
              },
              methods: {
                  saveItem() {
                      this.items.push(new Item(this.newItem));
                      this.newItem = '';
                  },
                  changeState(newState) {
                      this.state = newState;
                      this.newItem = '';
                  },
                  togglePurchased(item) {
                      item.purchased = !item.purchased;
                  }
              }
          }).mount("#shopping-list"); //id of the view
      </script>

      <script type="module">
          import axios from 'axios';
          let axiosConfig = {
              headers: {
                  'Content-Type': 'application/json;charset=UTF-8',
                  "Access-Control-Allow-Origin": "*",
              }
          };

          const postUrl = "http://localhost:5173/api/requestLogger/getByPageWithFilter";
          const body = {
              pageNum: 1,
              pageSize: 10
          };

          axios.post(postUrl, body).then(
              (res) => {
                  console.log('Axios:',res);
                  console.log('Axios data:',res.data);
              }).catch((err) => { console.log('Axios Error:', err); });
      </script>
  </body>
</html>
